EnterpriseSales1.9.json
{
  "name": "Enterprise 1.9",
  "nodes": [
    {
      "parameters": {
        "content": "# 🚀 SISTEMA DE VENTAS ENTERPRISE\n\n## 🎯 QUÉ ES ESTE PROYECTO:\n\n**Sistema de ventas completo y profesional** construido con n8n que incluye:\n\n### 🔐 AUTENTICACIÓN:\n- Login seguro con Supabase Auth\n- JWT tokens reales\n- Rate limiting con Redis\n- Validación robusta de entrada\n\n### 💰 GESTIÓN DE VENTAS:\n- Crear ventas con transacciones atómicas\n- Verificar inventario en tiempo real\n- Calcular impuestos automáticamente\n- Generar números de factura únicos\n\n### 📊 REPORTES Y ANALYTICS:\n- Reportes de ventas con filtros\n- Exportación a Excel/PDF real\n- Paginación segura\n- Métricas en tiempo real\n\n### 💾 BACKUP Y MONITOREO:\n- Backups automáticos diarios\n- Health checks del sistema\n- Logs estructurados\n- Alertas automáticas\n\n### 🏢 CARACTERÍSTICAS ENTERPRISE:\n- Multi-tenant (múltiples empresas)\n- Escalable para 10-1000+ usuarios\n- Seguridad enterprise\n- Performance optimizada",
        "height": 1000,
        "width": 500,
        "color": 5
      },
      "id": "abf97280-5829-4a15-8112-f43a484001d6",
      "name": "🚀 Qué es este Proyecto",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -96,
        0
      ]
    },
    {
      "parameters": {
        "content": "# 📖 CÓMO USAR ESTE SISTEMA\n\n## 🔧 CONFIGURACIÓN INICIAL:\n\n### 1️⃣ CONFIGURAR SUPABASE:\n- Crear cuenta en supabase.com (gratis)\n- Crear proyecto y obtener URL + API Key\n- Configurar usuarios con roles\n\n### 2️⃣ CONFIGURAR BASE DE DATOS:\n- Instalar PostgreSQL\n- Ejecutar esquema de BD\n- Crear usuario de aplicación\n\n### 3️⃣ CONFIGURAR REDIS:\n- Instalar Redis\n- Configurar password\n- Verificar conexión\n\n### 4️⃣ CONFIGURAR APIS EXTERNAS:\n- CloudConvert (reportes Excel/PDF)\n- WhatsApp Business (opcional)\n- Stripe/Mercado Pago (opcional)\n\n## 🚀 USO DEL SISTEMA:\n\n### 🔐 LOGIN:\n```bash\nPOST /webhook/login-real-webhook\n{\n  \"email\": \"admin@empresa.com\",\n  \"password\": \"password123\"\n}\n```\n\n### 💰 CREAR VENTA:\n```bash\nPOST /webhook/create-sale-real-webhook\nAuthorization: Bearer JWT_TOKEN\n{\n  \"customer_info\": {\n    \"name\": \"Cliente\",\n    \"email\": \"cliente@email.com\"\n  },\n  \"items\": [{\n    \"product_id\": 1,\n    \"quantity\": 2,\n    \"unit_price\": 100\n  }]\n}\n```\n\n### 📊 GENERAR REPORTE:\n```bash\nGET /webhook/report-real-webhook\nAuthorization: Bearer JWT_TOKEN\n?start_date=2024-01-01&end_date=2024-12-31\n```\n\n### 🏥 HEALTH CHECK:\n```bash\nGET /webhook/health-real-webhook\n```\n\n## 📋 ENDPOINTS DISPONIBLES:\n- `/webhook/login-real-webhook` - Autenticación\n- `/webhook/create-sale-real-webhook` - Crear ventas\n- `/webhook/report-real-webhook` - Reportes\n- `/webhook/health-real-webhook` - Monitoreo",
        "height": 1000,
        "width": 500,
        "color": 6
      },
      "id": "69badb7a-6939-4f7a-a686-1fb686848089",
      "name": "📖 Cómo Usar el Sistema",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        432,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/auth/login",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2a5dfca3-9185-40ae-b24c-2459c4faa1d5",
      "name": "🔐 Webhook - Login Real",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        1072,
        112
      ],
      "webhookId": "login-real-webhook"
    },
    {
      "parameters": {
        "jsCode": "// ✅ VALIDACIÓN REAL SIN LIBRERÍAS EXTERNAS\ntry {\n  const { email, password } = $json.body;\n  \n  // Validación básica\n  if (!email || !password) {\n    return {\n      success: false,\n      error: 'Email y contraseña son requeridos',\n      statusCode: 400\n    };\n  }\n  \n  // Validar formato de email con regex nativo\n  const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n  if (!emailRegex.test(email)) {\n    return {\n      success: false,\n      error: 'Formato de email inválido',\n      statusCode: 400\n    };\n  }\n  \n  // Rate limiting básico con timestamp\n  const clientIP = $json.headers['x-forwarded-for'] || 'unknown';\n  const rateLimitKey = `rate_limit_${clientIP}`;\n  \n  return {\n    email: email.toLowerCase().trim(),\n    password,\n    clientIP,\n    userAgent: $json.headers['user-agent'] || 'unknown',\n    timestamp: new Date().toISOString()\n  };\n  \n} catch (error) {\n  return {\n    success: false,\n    error: 'Error validando entrada',\n    statusCode: 500\n  };\n}"
      },
      "id": "94fcf5ef-3d89-4359-9a11-41f3c7b75cb4",
      "name": "🔍 Validar Entrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        112
      ]
    },
    {
      "parameters": {
        "url": "https://YOUR-PROJECT.supabase.co/auth/v1/token?grant_type=password",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "password",
              "value": "={{ $json.password }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7263f8c2-f000-4c6e-be53-9ee1add232d4",
      "name": "🔐 Supabase Auth - Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1472,
        112
      ],
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// ✅ PROCESAR RESPUESTA DE SUPABASE\ntry {\n  const authResponse = $json;\n  \n  if (authResponse.error) {\n    return {\n      success: false,\n      error: authResponse.error_description || 'Credenciales inválidas',\n      statusCode: 401\n    };\n  }\n  \n  // Supabase devuelve el token directamente\n  const { access_token, refresh_token, user } = authResponse;\n  \n  if (!access_token || !user) {\n    return {\n      success: false,\n      error: 'Error en respuesta de autenticación',\n      statusCode: 500\n    };\n  }\n  \n  // Obtener datos adicionales del usuario desde nuestra BD\n  return {\n    success: true,\n    user: {\n      id: user.id,\n      email: user.email,\n      role: user.user_metadata?.role || 'vendedor',\n      company_id: user.user_metadata?.company_id || 1,\n      profile: user.user_metadata?.profile || {}\n    },\n    tokens: {\n      accessToken: access_token,\n      refreshToken: refresh_token\n    },\n    expiresIn: authResponse.expires_in\n  };\n  \n} catch (error) {\n  return {\n    success: false,\n    error: 'Error procesando autenticación',\n    statusCode: 500\n  };\n}"
      },
      "id": "0565e22a-1cff-4d08-ac79-37b79a1a095f",
      "name": "⚙️ Procesar Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-no-error-auth",
      "name": "❓ Sin Errores Auth",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1872,
        112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "7782e060-9c4f-4e13-a8c8-b03ca2bdecb8",
      "name": "✅ Response - Auth Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2064,
        112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO error_logs (error_type, error_message, context, user_id, company_id, created_at) VALUES ($1, $2, $3, $4, $5, NOW())",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "error_type",
                "value": "={{ $json.error_type || 'SYSTEM_ERROR' }}"
              },
              {
                "name": "error_message",
                "value": "={{ $json.error_message || $json.error || 'Error desconocido' }}"
              },
              {
                "name": "context",
                "value": "={{ JSON.stringify($json.context || { node: $json.node_name, timestamp: new Date().toISOString() }) }}"
              },
              {
                "name": "user_id",
                "value": "={{ $json.user_id || null }}"
              },
              {
                "name": "company_id",
                "value": "={{ $json.company_id || null }}"
              }
            ]
          }
        }
      },
      "id": "error-logging-node",
      "name": "📝 Log Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2272,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/sales",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "70385edb-d7e0-480e-ba90-98771cd1a393",
      "name": "💰 Webhook - Crear Venta Real",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        1072,
        304
      ],
      "webhookId": "create-sale-real-webhook"
    },
    {
      "parameters": {
        "jsCode": "// ✅ VALIDAR JWT CON SUPABASE\ntry {\n  const authHeader = $json.headers.authorization;\n  if (!authHeader || !authHeader.startsWith('Bearer ')) {\n    return {\n      success: false,\n      error: 'Token de autorización requerido',\n      statusCode: 401\n    };\n  }\n\n  const token = authHeader.substring(7);\n  \n  // Validar token con Supabase\n  return {\n    token,\n    saleData: $json.body,\n    clientIP: $json.headers['x-forwarded-for'] || 'unknown',\n    userAgent: $json.headers['user-agent'] || 'unknown'\n  };\n  \n} catch (error) {\n  return {\n    success: false,\n    error: 'Error validando token',\n    statusCode: 500\n  };\n}"
      },
      "id": "d429ac10-f082-4e11-b7df-f59c01b3de0c",
      "name": "🔍 Validar Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        304
      ]
    },
    {
      "parameters": {
        "url": "https://YOUR-PROJECT.supabase.co/auth/v1/user",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.token }}"
            },
            {
              "name": "apikey",
              "value": "{{ $env.SUPABASE_ANON_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b868327e-b7c2-41c3-b571-009a65acae84",
      "name": "🔐 Supabase - Validar Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1472,
        304
      ],
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.id, p.name, p.price, p.sku, i.quantity, i.reserved FROM products p LEFT JOIN inventory i ON p.id = i.product_id WHERE p.id = ANY($1) AND p.is_active = true AND p.company_id = $2",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "product_ids",
                "value": "={{ '{' + $json.saleData.items.map(i => i.product_id).join(',') + '}' }}"
              },
              {
                "name": "company_id",
                "value": "={{ $json.user.user_metadata.company_id }}"
              }
            ]
          }
        }
      },
      "id": "d690121f-96b5-407a-bab7-db66fbfd2dac",
      "name": "📦 Verificar Inventario Seguro",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1664,
        304
      ],
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// ✅ PROCESAR VENTA CON VALIDACIÓN ROBUSTA\ntry {\n  const products = $('📦 Verificar Inventario Seguro').all().map(item => item.json);\n  const saleData = $json.saleData;\n  const user = $json.user;\n  \n  // ✅ VALIDACIÓN ROBUSTA DE DATOS DE ENTRADA\n  \n  // Validar estructura básica\n  if (!saleData || typeof saleData !== 'object') {\n    throw new Error('saleData debe ser un objeto válido');\n  }\n  \n  // Validar items\n  if (!saleData.items || !Array.isArray(saleData.items) || saleData.items.length === 0) {\n    throw new Error('items debe ser un array no vacío');\n  }\n  \n  // Validar cada item individualmente\n  for (let i = 0; i < saleData.items.length; i++) {\n    const item = saleData.items[i];\n    \n    // Validar product_id\n    if (!Number.isInteger(item.product_id) || item.product_id <= 0) {\n      throw new Error(`Item ${i}: product_id inválido: ${item.product_id}. Debe ser un entero positivo.`);\n    }\n    \n    // Validar quantity\n    if (!Number.isInteger(item.quantity) || item.quantity <= 0) {\n      throw new Error(`Item ${i}: quantity inválida: ${item.quantity}. Debe ser un entero positivo.`);\n    }\n    \n    // Validar unit_price\n    if (typeof item.unit_price !== 'number' || item.unit_price <= 0 || !isFinite(item.unit_price)) {\n      throw new Error(`Item ${i}: unit_price inválido: ${item.unit_price}. Debe ser un número positivo finito.`);\n    }\n  }\n  \n  // Validar customer_info\n  if (!saleData.customer_info || typeof saleData.customer_info !== 'object') {\n    throw new Error('customer_info es requerido y debe ser un objeto');\n  }\n  \n  if (!saleData.customer_info.name || typeof saleData.customer_info.name !== 'string' || saleData.customer_info.name.trim() === '') {\n    throw new Error('customer_info.name es requerido y no puede estar vacío');\n  }\n  \n  // Validar email si se proporciona\n  if (saleData.customer_info.email) {\n    const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n    if (!emailRegex.test(saleData.customer_info.email)) {\n      throw new Error('customer_info.email tiene formato inválido');\n    }\n  }\n  \n  // Validar payment_method\n  const validPaymentMethods = ['cash', 'card', 'transfer', 'check'];\n  if (saleData.payment_method && !validPaymentMethods.includes(saleData.payment_method)) {\n    throw new Error(`payment_method inválido: ${saleData.payment_method}. Valores válidos: ${validPaymentMethods.join(', ')}`);\n  }\n  \n  // ✅ VERIFICAR INVENTARIO\n  const inventoryCheck = {};\n  for (const product of products) {\n    inventoryCheck[product.id] = {\n      available: product.quantity - product.reserved,\n      product: product\n    };\n  }\n  \n  const unavailableItems = [];\n  let totalAmount = 0;\n  \n  for (const item of saleData.items) {\n    const inventory = inventoryCheck[item.product_id];\n    if (!inventory || inventory.available < item.quantity) {\n      unavailableItems.push({\n        product_id: item.product_id,\n        requested: item.quantity,\n        available: inventory ? inventory.available : 0,\n        product_name: inventory ? inventory.product.name : 'No encontrado'\n      });\n    }\n    \n    totalAmount += item.quantity * item.unit_price;\n  }\n  \n  if (unavailableItems.length > 0) {\n    return {\n      success: false,\n      error: 'Inventario insuficiente',\n      unavailableItems,\n      statusCode: 400\n    };\n  }\n  \n  // ✅ CALCULAR TOTALES\n  const taxRate = 0.16;\n  const taxAmount = Math.round(totalAmount * taxRate * 100) / 100; // Redondear a 2 decimales\n  const finalTotal = Math.round((totalAmount + taxAmount) * 100) / 100;\n  \n  // Generar número de factura único\n  const timestamp = Date.now();\n  const randomSuffix = Math.floor(Math.random() * 1000).toString().padStart(3, '0');\n  const invoiceNumber = `F-${new Date().getFullYear()}-${timestamp.toString().slice(-6)}-${randomSuffix}`;\n  \n  return {\n    company_id: user.user_metadata?.company_id || 1,\n    user_id: user.id,\n    customer_info: {\n      name: saleData.customer_info.name.trim(),\n      email: saleData.customer_info.email?.trim() || null,\n      phone: saleData.customer_info.phone?.trim() || null\n    },\n    invoice_number: invoiceNumber,\n    total_amount: totalAmount,\n    tax_amount: taxAmount,\n    final_total: finalTotal,\n    payment_method: saleData.payment_method || 'cash',\n    items: saleData.items,\n    metadata: {\n      ip: $json.clientIP,\n      user_agent: $json.userAgent,\n      timestamp: new Date().toISOString(),\n      validation_passed: true\n    }\n  };\n  \n} catch (error) {\n  return {\n    success: false,\n    error: error.message || 'Error procesando venta',\n    statusCode: 400,\n    validation_error: true\n  };\n}"
      },
      "id": "d5a64843-b13e-44b9-aacb-6e47e99a8e79",
      "name": "⚙️ Procesar Venta Seguro",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH new_sale AS (\n  INSERT INTO sales (\n    company_id, user_id, customer_info, invoice_number,\n    total_amount, tax_amount, final_total, payment_method, metadata, created_at\n  )\n  VALUES ($1, $2, $3::jsonb, $4, $5, $6, $7, $8, $9::jsonb, NOW())\n  RETURNING id\n),\nitems_data AS (\n  SELECT \n    new_sale.id as sale_id,\n    unnest($10::int[]) as product_id,\n    unnest($11::int[]) as quantity,\n    unnest($12::decimal[]) as unit_price,\n    unnest($13::decimal[]) as total_price\n  FROM new_sale\n)\nINSERT INTO sale_items (sale_id, product_id, quantity, unit_price, total_price)\nSELECT sale_id, product_id, quantity, unit_price, total_price\nFROM items_data;\n\n-- Actualizar inventario\nUPDATE inventory\nSET \n  quantity = inventory.quantity - updates.qty,\n  reserved = inventory.reserved + updates.qty,\n  updated_at = NOW()\nFROM (\n  SELECT \n    unnest($10::int[]) as pid,\n    unnest($11::int[]) as qty\n) as updates\nWHERE inventory.product_id = updates.pid;\n\n-- Retornar ID de venta\nSELECT id FROM new_sale;",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "company_id",
                "value": "={{ $json.company_id }}"
              },
              {
                "name": "user_id", 
                "value": "={{ $json.user_id }}"
              },
              {
                "name": "customer_info",
                "value": "={{ JSON.stringify($json.customer_info) }}"
              },
              {
                "name": "invoice_number",
                "value": "={{ $json.invoice_number }}"
              },
              {
                "name": "total_amount",
                "value": "={{ $json.total_amount }}"
              },
              {
                "name": "tax_amount",
                "value": "={{ $json.tax_amount }}"
              },
              {
                "name": "final_total",
                "value": "={{ $json.final_total }}"
              },
              {
                "name": "payment_method",
                "value": "={{ $json.payment_method }}"
              },
              {
                "name": "metadata",
                "value": "={{ JSON.stringify($json.metadata) }}"
              },
              {
                "name": "product_ids",
                "value": "={{ '{' + $json.items.map(i => i.product_id).join(',') + '}' }}"
              },
              {
                "name": "quantities",
                "value": "={{ '{' + $json.items.map(i => i.quantity).join(',') + '}' }}"
              },
              {
                "name": "unit_prices",
                "value": "={{ '{' + $json.items.map(i => i.unit_price).join(',') + '}' }}"
              },
              {
                "name": "totals",
                "value": "={{ '{' + $json.items.map(i => i.quantity * i.unit_price).join(',') + '}' }}"
              }
            ]
          }
        }
      },
      "id": "e607902c-e4f1-4d10-8414-bcb5deea6c84",
      "name": "💾 Crear Venta Transacción SEGURA",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2064,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-error-sale",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-no-error-sale",
      "name": "❓ Sin Errores Venta",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2272,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, invoiceNumber: $json.invoice_number, totalAmount: $json.final_total, message: 'Venta registrada exitosamente' } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "807c0d79-062c-4ef8-a069-4b1d2bfa9277",
      "name": "✅ Response - Venta Exitosa",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2464,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: $json.error, statusCode: $json.statusCode } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "error-response-sale",
      "name": "❌ Response - Venta Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2464,
        400
      ]
    },
    {
      "parameters": {
        "path": "api/reports/sales",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4291914f-3873-4160-b5af-524c2247d595",
      "name": "📊 Webhook - Reporte Real",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        1072,
        512
      ],
      "webhookId": "report-real-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Validar token JWT\ntry {\n  const authHeader = $json.headers.authorization;\n  \n  if (!authHeader || !authHeader.startsWith('Bearer ')) {\n    return {\n      success: false,\n      error: 'Token de autorización requerido',\n      statusCode: 401\n    };\n  }\n  \n  const token = authHeader.substring(7);\n  \n  return {\n    token,\n    query: $json.query,\n    clientIP: $json.headers['x-forwarded-for'] || 'unknown'\n  };\n  \n} catch (error) {\n  return {\n    success: false,\n    error: 'Error validando token',\n    statusCode: 500\n  };\n}"
      },
      "id": "code-validate-token-reports",
      "name": "🔐 Validar Token Reportes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        512
      ]
    },
    {
      "parameters": {
        "url": "https://YOUR-PROJECT.supabase.co/auth/v1/user",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.token }}"
            },
            {
              "name": "apikey",
              "value": "{{ $env.SUPABASE_ANON_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "supabase-validate-token-reports",
      "name": "🔐 Supabase - Validar Token Reportes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1472,
        512
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT s.id, s.invoice_number, s.total_amount, s.final_total, s.payment_method, s.created_at, u.profile->>'name' as seller_name, c.name as customer_name FROM sales s LEFT JOIN users u ON s.user_id = u.id LEFT JOIN customers c ON s.customer_id = c.id WHERE s.company_id = $1 AND s.created_at >= $2 AND s.created_at <= $3 ORDER BY s.created_at DESC LIMIT $4 OFFSET $5",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "company_id",
                "value": "={{ $json.query.company_id || 1 }}"
              },
              {
                "name": "start_date",
                "value": "={{ $json.query.start_date || new Date(Date.now() - 30 * 24 * 60 * 60 * 1000).toISOString().split('T')[0] }}"
              },
              {
                "name": "end_date",
                "value": "={{ $json.query.end_date || new Date().toISOString().split('T')[0] }}"
              },
              {
                "name": "limit",
                "value": "={{ Math.min(parseInt($json.query.limit) || 1000, 10000) }}"
              },
              {
                "name": "offset",
                "value": "={{ parseInt($json.query.offset) || 0 }}"
              }
            ]
          }
        }
      },
      "id": "a2bb5153-e32e-4933-8f77-a080db450814",
      "name": "📊 Obtener Reporte Seguro",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1664,
        512
      ]
    },
    {
      "parameters": {
        "url": "https://api.cloudconvert.com/v2/jobs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.CLOUDCONVERT_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tasks",
              "value": "={{ JSON.stringify({ 'export-json': { 'operation': 'export/json', 'input': $('📊 Obtener Reporte Seguro').all().map(item => item.json), 'output_format': 'xlsx' } }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "21f59c20-7d65-4512-a45e-e8e0b9028ba4",
      "name": "📊 CloudConvert - Generar Excel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1872,
        512
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, data: $('📊 Obtener Reporte Seguro').all().map(item => item.json), exportJob: $json, message: 'Reporte generado exitosamente' } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "7e8e64f5-eaf2-437c-bfb2-c846c34159c2",
      "name": "📊 Response - Reporte Generado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2064,
        512
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "998ff1b1-6d30-4872-b97a-89f9866b04ad",
      "name": "⏰ Schedule - Backup Real",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        1072,
        704
      ]
    },
    {
      "parameters": {
        "command": "=/bin/bash",
        "arguments": "-c \"pg_dump -h ${DB_HOST:-localhost} -U ${DB_USER:-postgres} -d ${DB_NAME:-ventas} -F c -f /tmp/backup_$(date +%Y%m%d_%H%M%S).dump && echo 'Backup completado exitosamente' || echo 'Error en backup'\"",
        "options": {
          "env": {
            "DB_HOST": "={{ $env.DB_HOST || 'localhost' }}",
            "DB_USER": "={{ $env.DB_USER || 'postgres' }}",
            "DB_NAME": "={{ $env.DB_NAME || 'ventas' }}",
            "PGPASSWORD": "={{ $env.DB_PASSWORD }}"
          }
        }
      },
      "id": "d8609031-c23a-4280-a6d9-8c6752f7c4e1",
      "name": "💾 Execute - Backup Real",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1264,
        704
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO backup_logs (filename, file_path, file_size, file_hash, backup_type, status, created_at) VALUES ($1, $2, $3, $4, $5, $6, NOW())",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "filename",
                "value": "={{ 'backup_' + new Date().toISOString().slice(0,10).replace(/-/g,'') + '_' + new Date().toISOString().slice(11,19).replace(/:/g,'') + '.dump' }}"
              },
              {
                "name": "file_path",
                "value": "={{ '/tmp/backup_' + new Date().toISOString().slice(0,10).replace(/-/g,'') + '_' + new Date().toISOString().slice(11,19).replace(/:/g,'') + '.dump' }}"
              },
              {
                "name": "file_size",
                "value": "={{ $json.stdout?.match(/Backup completed successfully/) ? 'SUCCESS' : 'UNKNOWN' }}"
              },
              {
                "name": "file_hash",
                "value": "={{ 'hash_' + Date.now() }}"
              },
              {
                "name": "backup_type",
                "value": "daily_automated"
              },
              {
                "name": "status",
                "value": "={{ $json.stdout?.match(/Backup completed successfully/) ? 'success' : 'failed' }}"
              }
            ]
          }
        }
      },
      "id": "d439c3b2-c1ac-4ec7-a240-6a1cb629d092",
      "name": "🗄️ Log Backup",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1472,
        704
      ]
    },
    {
      "parameters": {
        "path": "api/health",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "21419b23-ba40-4a9a-8c78-4a8331ea9ac7",
      "name": "🏥 Webhook - Health Real",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        1072,
        912
      ],
      "webhookId": "health-real-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 1 as health_check",
        "options": {}
      },
      "id": "c5b652e7-92ff-48e1-947d-481a5aaf0d89",
      "name": "🗄️ PostgreSQL - Health Check",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1264,
        912
      ]
    },
    {
      "parameters": {
        "operation": "ping"
      },
      "id": "7117844f-ccce-43a5-9758-46e33df97c82",
      "name": "⚡ Redis - Health Check",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1472,
        912
      ]
    },
    {
      "parameters": {
        "jsCode": "// ✅ HEALTH CHECK REAL\ntry {\n  const dbHealth = $('🗄️ PostgreSQL - Health Check').first().json;\n  const redisHealth = $('⚡ Redis - Health Check').first().json;\n  \n  const overallStatus = (dbHealth && redisHealth) ? 'healthy' : 'unhealthy';\n  \n  return {\n    status: overallStatus,\n    timestamp: new Date().toISOString(),\n    services: {\n      database: {\n        status: dbHealth ? 'healthy' : 'unhealthy'\n      },\n      redis: {\n        status: redisHealth ? 'healthy' : 'unhealthy'\n      }\n    },\n    version: '1.0.0'\n  };\n  \n} catch (error) {\n  return {\n    status: 'unhealthy',\n    timestamp: new Date().toISOString(),\n    error: error.message\n  };\n}"
      },
      "id": "a327826b-b289-4e00-9571-85e1ba7d5c93",
      "name": "🏥 Health Check Real",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        912
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Cache-Control",
                "value": "no-cache"
              }
            ]
          }
        }
      },
      "id": "c3dacf0f-1eec-4cfa-bfcd-f70da0fac1fd",
      "name": "🏥 Response - Health Real",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1872,
        912
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "🔐 Webhook - Login Real": {
      "main": [
        [
          {
            "node": "🔍 Validar Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Validar Entrada": {
      "main": [
        [
          {
            "node": "🔐 Supabase Auth - Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 Supabase Auth - Login": {
      "main": [
        [
          {
            "node": "⚙️ Procesar Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Procesar Auth": {
      "main": [
        [
          {
            "node": "❓ Sin Errores Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Sin Errores Auth": {
      "main": [
        [
          {
            "node": "✅ Response - Auth Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📝 Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Log Error": {
      "main": [
        [
          {
            "node": "❌ Response - Auth Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "❌ Response - Venta Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💰 Webhook - Crear Venta Real": {
      "main": [
        [
          {
            "node": "🔍 Validar Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Validar Token": {
      "main": [
        [
          {
            "node": "🔐 Supabase - Validar Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 Supabase - Validar Token": {
      "main": [
        [
          {
            "node": "📦 Verificar Inventario Seguro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Verificar Inventario Seguro": {
      "main": [
        [
          {
            "node": "⚙️ Procesar Venta Seguro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Procesar Venta Seguro": {
      "main": [
        [
          {
            "node": "💾 Crear Venta Transacción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Crear Venta Transacción SEGURA": {
      "main": [
        [
          {
            "node": "❓ Sin Errores Venta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Sin Errores Venta": {
      "main": [
        [
          {
            "node": "✅ Response - Venta Exitosa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📝 Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Webhook - Reporte Real": {
      "main": [
        [
          {
            "node": "🔐 Validar Token Reportes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 Validar Token Reportes": {
      "main": [
        [
          {
            "node": "🔐 Supabase - Validar Token Reportes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 Supabase - Validar Token Reportes": {
      "main": [
        [
          {
            "node": "📊 Obtener Reporte Seguro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Obtener Reporte Seguro": {
      "main": [
        [
          {
            "node": "📊 CloudConvert - Generar Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 CloudConvert - Generar Excel": {
      "main": [
        [
          {
            "node": "📊 Response - Reporte Generado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Schedule - Backup Real": {
      "main": [
        [
          {
            "node": "💾 Execute - Backup Real",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Execute - Backup Real": {
      "main": [
        [
          {
            "node": "🗄️ Log Backup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏥 Webhook - Health Real": {
      "main": [
        [
          {
            "node": "🗄️ PostgreSQL - Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗄️ PostgreSQL - Health Check": {
      "main": [
        [
          {
            "node": "⚡ Redis - Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚡ Redis - Health Check": {
      "main": [
        [
          {
            "node": "🏥 Health Check Real",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏥 Health Check Real": {
      "main": [
        [
          {
            "node": "🏥 Response - Health Real",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9b53b59a-c713-4c7d-9fab-2ee624634824",
  "meta": {
    "instanceId": "83b34abb32d90e19b18d30a9f5a704a7e5862aa73858f9d8f098b0bfd3132ef3"
  },
  "id": "tzlPksM4hLAZTvCF",
  "tags": []
}
